body,
html,
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


body {
   text-align: center;
  
}


.display-card {
   width: 23%;
   background-color: #BDECB6;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   border-radius: 1rem;
   margin: 20px 15px;
}


.display {
display: flex;
flex-wrap: wrap;
width: 92vw;
margin: 1rem auto;
align-items: center;
justify-content: center;
}


.display-img{
   width: 45%;
}


h1{
   font-size: 55px;
   margin: 10px 0px;
}


.name{
   font-size: 25px;
}


.descrip{
   font-size: 25px;
}


.url{
   font-size: 25px;
}

